<!-- Header -->
<header class="bg-homepage text-white">
        <div class="container black-letter">
            <h1>
                <i class="fa fa-plus-square"></i>
                <b>Adicionar Usuário</b>
            </h1>
            <p class="lead">Preencha o formulário com os dados do usuário e clique em
                <span class="badge badge-primary">
                    <i class="fa fa-plus-square"></i> Adicionar</span>.
            </p>
        </div>
    </header>
    <!-- ./Header -->
    <!-- First Container -->
    <div class="container">
        <div class="space-25"></div>
        <!-- Row -->
        <div class="row">
            <!-- Form -->
            <form action="/adicionar/usuario" method="post" style="width: 100%;">
                <div class="form-group">
                    <label for="nome" class="col-form-label">Nome do Usuário
                        <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" id="nome" name="nome" maxlength="56" placeholder="Digite o nome do usuário (Exemplo: João Melo)" required>
                </div>
                <div class="form-group">
                    <label for="login" class="col-form-label">Login do Usuário
                        <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" id="login" name="login" maxlength="25" placeholder="Digite o login do usuário (Exemplo: joao.melo)" required>
                </div>
                <div class="form-group">
                    <label for="senha" class="col-form-label">Senha do Usuário
                        <span class="required">*</span>
                    </label>
                    <input type="password" class="form-control" id="senha" name="senha" maxlength="32" placeholder="Digite a senha do usuário" required>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" name="acesso" id="acesso">
                        <label class="custom-control-label" for="acesso">Acesso Administrador</label>
                    </div>
                </div>
                <div class="space-25"></div>
                <a href="/administrar/usuarios" class="btn btn-outline-primary waves-effect btn-lg">
                    <i class="fa fa-times"></i> Cancelar</a>
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fa fa-plus-square"></i> Adicionar</button>
                <div class="space-50"></div>
            </form>
            <!-- ./Form -->
        </div>
        <!-- ./Row -->
    </div>
    <!-- ./First Container -->