<!-- Header -->
<header class="bg-homepage text-white">
    <div class="container black-letter">
        <h1>
            <i class="fa fa-plus-square"></i>
            <b>Adicionar Cliente</b>
        </h1>
        <p class="lead">Preencha o formulário com os dados do cliente e clique em
            <span class="badge badge-primary">
                <i class="fa fa-plus-square"></i> Adicionar</span>.
        </p>
    </div>
</header>
<!-- ./Header -->
<!-- First Container -->
<div class="container">
    <div class="space-25"></div>
    <!-- Row -->
    <div class="row">
        <!-- Form -->
        <form action="/adicionar/cliente" method="post" style="width: 100%;">
            <div class="form-group">
                <label for="nomeCliente" class="col-form-label">Nome
                    <span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="nomeCliente" name="nomeCliente" maxlength="56" placeholder="Digite o nome do cliente">
            </div>
            <div class="form-group">
                <label for="contatoLocal" class="col-form-label">Contato
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="contatoLocal" name="contatoLocal" maxlength="56"
                    placeholder="Digite o nome do contato">
            </div>
            <div class="form-group">
                <label for="cpf" class="col-form-label">CPF
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite o CPF do cliente"
                    data-mask="000.000.000-00">
            </div>
            <div class="form-group">
                <label for="cnpj" class="col-form-label">CNPJ
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Digite o CNPJ do cliente"
                    data-mask="000.000.000-00">
            </div>
            <div class="form-group">
                <label for="inscricaoEstadual" class="col-form-label">Inscrição Estadual
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual" maxlength="56"
                    placeholder="Digite a Inscrição Estadual do cliente" data-mask="000.000.000.000">
            </div>
            <div class="form-group">
                <label for="telefone" class="col-form-label">Telefone
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone do cliente" maxlength="56">
            </div>
            <div class="form-group">
                <label for="celular" class="col-form-label">Celular
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="celular" name="celular" placeholder="Digite o celular do cliente" maxlength="56">
            </div>
            <div class="form-group">
                <label for="cep" class="col-form-label">CEP
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="cep" name="cep" maxlength="56" placeholder="Digite o CEP do cliente">
            </div>
            <div class="form-group">
                <label for="endereco" class="col-form-label">Endereço
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="endereco" name="endereco" maxlength="112" placeholder="Digite o endereço do cliente">
            </div>
            <div class="form-group">
                <label for="bairro" class="col-form-label">Bairro
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="bairro" name="bairro" maxlength="56" placeholder="Digite o bairro do cliente">
            </div>
            <div class="form-group">
                <label for="cidade" class="col-form-label">Cidade
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="cidade" name="cidade" maxlength="56" placeholder="Digite a cidade do cliente">
            </div>
            <div class="form-group">
                <label for="estado" class="col-form-label">Estado
                    <span class="optional">(Opcional)</span>
                </label>
                <select name="estado" class="form-control" id="estado" />
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="GO">Goiás</option>
                <option value="ES">Espírito Santo</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraiba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí­</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SP">São Paulo</option>
                <option value="SC">Santa Catarina</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email" class="col-form-label">E-mail
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="email" class="form-control" name="email" maxlength="56" placeholder="Digite o endereço de e-mail do cliente">
            </div>
            <div class="form-group">
                <label for="observacao" class="col-form-label">Observação
                    <span class="optional">(Opcional)</span>
                </label>
                <input type="text" class="form-control" id="observacao" name="observacao" maxlength="112" placeholder="Digite uma observação">
            </div>
            <div class="form-group">
                <label for="tipo" class="col-form-label">Tipo
                    <span class="optional">(Opcional)</span>
                </label>
                <select name="tipo" class="form-control chosen-select" id="tipo" />
                <option value="">Selecione</option>
                <option value="PF">Pessoa Física</option>
                <option value="PJ">Pessoa Jurídica</option>
                </select>
            </div>
            <div class="space-25"></div>
            <a href="/clientes" class="btn btn-outline-primary waves-effect btn-lg">
                <i class="fa fa-times"></i> Cancelar</a>
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-plus-square"></i> Adicionar</button>
            <div class="space-50"></div>
        </form>
        <!-- ./Form -->
    </div>
    <!-- ./Row -->
</div>
<!-- ./First Container -->