<!-- Header -->
<header class="bg-homepage text-white">
        <div class="container black-letter">
            <h1>
                <i class="fa fa-pencil-alt"></i>
                <b>Editar Recebimento</b>
            </h1>
            <p class="lead">Altere o formulário com os dados do recebimento e clique em
                <span class="badge badge-primary">
                    <i class="fa fa-save"></i> Salvar</span>.
            </p>
        </div>
    </header>
    <!-- ./Header -->
    <!-- First Container -->
    <div class="container">
        <div class="space-25"></div>
        <!-- Row -->
        <div class="row">
            <!-- Form -->
            <form action="/editar/recebimento/{$recebimento.id}" method="post" style="width: 100%;">
                <div class="form-group">
                    <label for="dataRecebimento" class="col-form-label">Data de Recebimento
                        <span class="required">*</span>
                    </label>
                    <input type="date" class="form-control" id="dataRecebimento" name="dataRecebimento" value="{$recebimento.dataRecebimento}" placeholder="Digite a data de recebimento" required>
                </div>
                <div class="form-group">
                    <label for="fornecedor" class="col-form-label">Cliente
                        <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" id="fornecedor" name="fornecedor" value="{$recebimento.fornecedor}" maxlength="56" placeholder="Digite o nome do fornecedor"
                        required>
                </div>
                <label for="valorBoleto" class="col-form-label">Valor do Boleto
                    <span class="required">*</span>
                </label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend" >
                        <div class="input-group-text" style="border-radius: 0 !important">R$</div>
                    </div>
                    <input type="text" class="form-control" id="valorBoleto" name="valorBoleto" value="{$recebimento.valorBoleto}" data-mask="000.000,00"
                        data-mask-reverse="true" placeholder="Digite o valor do boleto" required>
                </div>
                <div class="form-group">
                    <label for="dataVencimento" class="col-form-label">Data de Vencimento
                        <span class="required">*</span>
                    </label>
                    <input type="date" class="form-control" id="dataVencimento" name="dataVencimento" value="{$recebimento.dataVencimento}" required>
                </div>
                <div class="form-group">
                    <label for="dataCompensacao" class="col-form-label">Data de Compensação
                        <span class="optional">(Opcional)</span>
                    </label>
                    <input type="date" class="form-control" id="dataCompensacao" name="dataCompensacao" value="{$recebimento.dataCompensacao}">
                </div>
                <div class="form-group">
                    <label for="nBoleto" class="col-form-label">Número do Boleto
                        <span class="optional">(Opcional)</span>
                    </label>
                    <input type="text" class="form-control" id="nBoleto" name="nBoleto" value="{$recebimento.nBoleto}" maxlength="15" placeholder="Digite o número do boleto">
                </div>
                <div class="form-group">
                    <label for="formaPagamento" class="col-form-label">Forma de Pagamento
                        <span class="required">*</span>
                    </label>
                    <select name="formaPagamento" class="form-control chosen-select" id="formaPagamento" />
                    <option value="Boleto" {if="$recebimento.formaPagamento === 'Boleto'"}selected{/if}>Boleto</option>
                    <option value="Depósito" {if="$recebimento.formaPagamento === 'Depósito'"}selected{/if}>Depósito</option>
                    <option value="Cheque" {if="$recebimento.formaPagamento === 'Cheque'"}selected{/if}>Cheque</option>
                    <option value="Dinheiro" {if="$recebimento.formaPagamento === 'Dinheiro'"}selected{/if}>Dinheiro</option>
                    <option value="Transferência Bancária" {if="$recebimento.formaPagamento === 'Transferência Bancária'"}selected{/if}>Transferência Bancária</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantidade" class="col-form-label">Quantidade
                        <span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" id="quantidade" name="quantidade" value="{$recebimento.quantidade}" data-mask="0/0" placeholder="Digite quantidade" required>
                </div>
                <div class="form-group">
                    <label for="referente" class="col-form-label">Referente
                        <span class="optional">(Opcional)</span>
                    </label>
                    <input type="text" class="form-control" id="referente" name="referente" value="{$recebimento.referente}" maxlength="112" placeholder="Digite a referência do recebimento">
                </div>
                <div class="form-group">
                    <label for="formaEnvio" class="col-form-label">Forma de Envio
                        <span class="required">*</span>
                    </label>
                    <select name="formaEnvio" class="form-control chosen-select" id="formaEnvio" />
                    <option value="E-mail" {if="$recebimento.formaPagamento === 'E-mail'"}selected{/if}>E-mail</option>
                    <option value="Whatsapp" {if="$recebimento.formaPagamento === 'Whatsapp'"}selected{/if}>Whatsapp</option>
                    <option value="Recebido no local" {if="$recebimento.formaPagamento === 'Recebido no local'"}selected{/if}>Recebido no local</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="enviadoPor" class="col-form-label">Enviado Por
                        <span class="required">*</span>
                    </label>
                    <select name="enviadoPor" class="form-control chosen-select" id="enviadoPor" />
                    {loop="$usuarios"}
                    <option value="{$value.nome}" {if="$recebimento.enviadoPor === $value.nome"}selected{/if}>{$value.nome}</option>
                    {/loop}
                    </select>
                </div>
                <div class="space-25"></div>
                <a href="/administrar/recebimentos/{function="date('m')"}/{function="date('Y')"}" class="btn btn-outline-primary waves-effect btn-lg">
                    <i class="fa fa-times"></i> Cancelar</a>
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fa fa-save"></i> Salvar</button>
                <div class="space-50"></div>
            </form>
            <!-- ./Form -->
        </div>
        <!-- ./Row -->
    </div>
    <!-- ./First Container -->