<!-- Header -->
<header class="bg-homepage text-white">
	<div class="container black-letter">
		<h1>Gerenciar Recebimentos</h1>
		<p class="lead">Crie, edite e delete recebimentos da CVA Climatização.</p>
	</div>
	{if="$_SESSION['User']['acessoTotal'] === '1'"}
	<div class="container">
		<a class="btn btn-primary btn-lg" href="/adicionar/recebimento" data-toggle="tooltip" data-placement="right" title="Clique para cadastrar um recebimento">
			<i class="fa fa-plus-square"></i> Cadastrar Recebimento</a>
	</div>
	{/if}
</header>
<!-- ./Header -->
{if="$recebimentos"}
<!-- Panel -->
<div class="panel panel-primary filterable">
	<!-- Panel Heading -->
	<div class="panel-heading">
		<h3 class="panel-title">{$total} recebimentos de {$mes}/{$ano}</h3>
		<div class="pull-right">
			<button class="btn btn-primary btn-xs btn-filter">
				<i class="fa fa-filter"></i> Filtro</button>
		</div>
	</div>
	<!-- ./Panel Heading -->
	<div class="table-responsive">
		<!-- Table -->
		<table class="table table-striped table-hover table-sm results text-center">
			<!-- Table Head -->
			<thead>
				<!-- Filter -->
				<tr class="filters invisible">
					<th colspan="16">
						<div class="container-fluid">
							<input type="text" id="search" class="form-control" placeholder="Digite algo para pesquisar" disabled>
							<!-- Counter -->
							<span class="counter pull-right"></span>
							<!-- ./Counter -->
						</div>
					</th>
				</tr>
				<!-- ./Filter -->
				<tr>
					{if="$_SESSION['User']['acessoTotal'] === '1'"}
					<th>#</th>
					{/if}
					<th>Data de Envio</th>
					<th>Cliente</th>
					<th>Valor do Boleto</th>
					<th>Data de Vencimento</th>
					<th>Data de Compensação</th>
					<th>Estado</th>
					<th>Nº do Boleto</th>
					<th>Forma de Pagamento</th>
					<th>Quantidade</th>
					<th>Referente</th>
					<th>Forma de Envio</th>
					<th>Enviado Por</th>
				</tr>
				<!-- No Results -->
				<tr class="warning no-result text-center">
					<td colspan="21">
						<div class="alert alert-warning" role="alert">
							<i class="fa fa-warning"></i> Sua pesquisa não confere com nenhum dado.
						</div>
					</td>
				</tr>
				<!-- ./No Results -->
			</thead>
			<!-- ./Table Head -->
			<!-- Table Body -->
			<tbody>
				{loop="$recebimentos"}
				<tr>
					{if="$_SESSION['User']['acessoTotal'] === '1'"}
					<td class="text-left">
						<a href="/excluir/recebimento/{$value.id}" class="btn btn-outline-danger btn-sm" style="padding: 0 !important; padding-left: 5px !important; padding-right: 5px !important" onclick="return confirm('Deseja realmente excluir este recebimento?')"
						 data-toggle="tooltip" data-placement="right" title="Excluir">
							<i class="fa fa-times mx-1"></i>
						</a>
						<a href="/editar/recebimento/{$value.id}" class="btn btn-outline-primary btn-sm" style="padding: 0 !important; padding-left: 5px !important; padding-right: 5px !important" data-toggle="tooltip" data-placement="right" title="Editar">
							<i class="fa fa-pencil-alt mx-1"></i>
						</a>
						<a class="btn btn-outline-black btn-sm" style="padding: 0 !important; padding-left: 5px !important; padding-right: 5px !important" data-toggle="tooltip" data-placement="right" title="Última vez alterado por {$value.alteradoPor} em {function="date('d/m/Y', strtotime($value.alteradoEm))"} às {function="date('H:i', strtotime($value.alteradoEm))"}">
							<i class="fa fa-info-circle"></i>
						</a>
						
					</td>
					{/if}
					<td>{function="date('d/m/Y', strtotime($value.dataRecebimento))"}</td>
					<td>{$value.fornecedor}</td>
					<td>R$ {$value.valorBoleto}</td>
					<td>
                        {if="$value.dataVencimento != ''"}
                            {function="date('d/m/Y', strtotime($value.dataVencimento))"}
                        {/if}
                    </td>
                    <td>
                        {if="$value.dataCompensacao != ''"}
                            {function="date('d/m/Y', strtotime($value.dataCompensacao))"}
                        {/if}
                    </td>
                    <td>
                        {if="$value.dataCompensacao != ''"}
                            <span style="font-weight: bold; color:green;">Pago <i class="fa fa-smile-beam"></i></span>
                        {else}
                            {$d1 = strtotime($value.dataVencimento)}
                            {$d2 = strtotime(date('Y-m-d'))}
                            {$dataFinal = ($d2 - $d1) / 86400}
                            {if="$dataFinal < 0"}
                                {$dataFinal = $dataFinal * -1}
                                <span style="font-weight: bold; color:orange;">{$dataFinal} dias restantes <i class="fa fa-frown"></i></span>
                            {else}
                                <span style="font-weight: bold; color: red;">{$dataFinal} dias atrasados! <i class="fa fa-angry"></i></span>
                            {/if}
                        {/if}
                    </td>
					<td>{$value.nBoleto}</td>
					<td>{$value.formaPagamento}</td>
					<td>{$value.quantidade}</td>
					<td>{$value.referente}</td>
					<td>{$value.formaEnvio}</td>
					<td>{$value.enviadoPor}</td>
				</tr>
				{if="$value.dataCompensacao != ''"} <!-- Pagos -->
					{$valorBR = $value.valorBoleto}
					{$valorUSA = str_replace(".","",$valorBR)}
					{$valorUSA = str_replace(",",".",$valorUSA)}
					{$valorUSAInt = (float)$valorUSA}
					{$totalBoletosPagos = $totalBoletosPagos + $valorUSAInt}
					{$valorFinalPago = number_format($totalBoletosPagos, 2, ",", ".")}
					{$totalBoletos = $totalBoletos + $valorUSAInt}
				{else}
					{$d1 = strtotime($value.dataVencimento)}
					{$d2 = strtotime(date('Y-m-d'))}
					{$dataFinal = ($d2 - $d1) / 86400}
					{if="$dataFinal < 0"} <!-- Pendentes -->
						{$dataFinal = $dataFinal * -1}
						{$valorBR = $value.valorBoleto}
						{$valorUSA = str_replace(".","",$valorBR)}
						{$valorUSA = str_replace(",",".",$valorUSA)}
						{$valorUSAInt = (float)$valorUSA}
						{$totalBoletosPendentes = $totalBoletosPendentes + $valorUSAInt}
						{$valorFinalPendente = number_format($totalBoletosPendentes, 2, ",", ".")}
						{$totalBoletos = $totalBoletos + $valorUSAInt}
					{else} <!-- Atrasados -->
						{$valorBR = $value.valorBoleto}
						{$valorUSA = str_replace(".","",$valorBR)}
						{$valorUSA = str_replace(",",".",$valorUSA)}
						{$valorUSAInt = (float)$valorUSA}
						{$totalBoletosAtrasados = $totalBoletosAtrasados + $valorUSAInt}
						{$valorFinalAtrasado = number_format($totalBoletosAtrasados, 2, ",", ".")}
						{$totalBoletos = $totalBoletos + $valorUSAInt}
					{/if}
					
				{/if}
				{$valorFinalTotal = number_format($totalBoletos, 2, ",", ".")}
				{/loop}
			</tbody>
			<!-- ./Table Body -->
		</table>
		<!-- ./Table -->
	</div>
</div>
<!-- ./Panel -->
{else}
<div class="space-50"></div>
<div class="container">
	<div class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-triangle"></i>
		<strong>Ah não!</strong> Não existem cadastros de recebimentos em <strong>{$mes}/{$ano}</strong> em nossos registros. <a href="/adicionar/recebimento" class="btn btn-danger btn-sm"
		 data-toggle="tooltip" data-placement="right" title="Nota: Cadastrar um novo recebimento não irá preencher a base de dados de {$mes}/{$ano}!"><i class="fa fa-plus-square"></i>
			Cadastrar</a>
	</div>
</div>
{/if}
<div class="space-50"></div>
<!-- Notification -->
<div class="box">
	<div class="notifications">
		<i class="fa fa-dollar-sign"></i>
		<span class="titulo"> Soma de Valores</span>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Estado</th>
					<th scope="col">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>Pagos</strong></td>
					<td>{if="$valorFinalPago != ''"}<span style="font-weight: bold; color:green;">R$ {$valorFinalPago}</span>{else}<span style="color: red; font-weight: bold;">Nada recebido</span>{/if}</td>
				</tr>
				<tr>
					<td><strong>Pendentes</strong></td>
					<td>{if="$valorFinalPendente != ''"}<span style="color: orange; font-weight: bold;">R$ {$valorFinalPendente}</span>{else}<span style="font-weight: bold; color:green;">Nada pendente</span>{/if}</td>
				</tr>
				<tr>
					<td><strong>Atrasados</strong></td>
					<td>{if="$valorFinalAtrasado != ''"}<span style="color: red; font-weight: bold;">R$ {$valorFinalAtrasado}</span>{else}<span style="font-weight: bold; color:green;">Nada atrasado</span>{/if}</td>
				</tr>
				<tr>
					<td><strong>Total</strong></td>
					<td>{if="$valorFinalTotal != ''"}<span style="font-weight: bold; color:green;">R$ {$valorFinalTotal}</span>{else}Não há dados para calcular{/if}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- ./Notification -->