<!-- Header -->
<header class="bg-homepage text-white">
	<div class="container black-letter">
		<h1>Gerenciar Responsáveis</h1>
		<p class="lead">Crie, edite e delete responsáveis de militantes do clube.</p>
	</div>
	<div class="container">
		<a class="btn btn-primary btn-lg" href="/adicionar/responsavel" data-toggle="tooltip" data-placement="bottom" title="Clique para cadastrar um responsável">
		<i class="fa fa-plus-square"></i> Cadastrar Responsável</a>
	</div>
</header>
<!-- ./Header -->
{if="$data"}
<!-- Panel -->
<div class="panel panel-primary filterable">
	<!-- Panel Heading -->
	<div class="panel-heading">
		<h3 class="panel-title">Responsáveis</h3>
		<div class="pull-right">
			<button class="btn btn-primary btn-xs btn-filter">
			<i class="fa fa-filter"></i> Filtro</button>
		</div>
	</div>
	<!-- ./Panel Heading -->
	<div class="table-responsive">
		<!-- Table -->
		<table class="table table-striped table-hover table-sm results text-center">
			<!-- Table Head -->
			<thead>
				<!-- Filter -->
				<tr class="filters invisible">
					<th colspan="5">
						<div class="container">
							<input type="text" id="search" class="form-control" placeholder="Digite algo para pesquisar" disabled>
							<!-- Counter -->
							<span class="counter pull-right"></span>
							<!-- ./Counter -->
						</div>
					</th>
				</tr>
				<!-- ./Filter -->
				<tr>
					<th>Nome Completo</th>
					<th>RG</th>
					<th>CPF</th>
					<th>Último Acesso</th>
					<th>#</th>
				</tr>
				<!-- No Results -->
				<tr class="warning no-result text-center">
					<td colspan="5">
						<div class="alert alert-warning" role="alert">
							<i class="fa fa-warning"></i> Sua pesquisa não confere com nenhum dado.
						</div>
					</td>
				</tr>
				<!-- ./No Results -->
			</thead>
			<!-- ./Table Head -->
			<!-- Table Body -->
			<tbody>
				{loop="$data"}
				<tr>
					<td>{$value.desname}</td>
					<td>{$value.desrg}</td>
					<td>{$value.descpf}</td>
					<td>{$value.deslastaccess} às {$value.deslasttime}</td>
					<td class="text-left">
						<a href="/editar/responsavel/{$value.idresponsible}" data-toggle="tooltip" data-placement="left" title="Editar">
						<i class="fa fa-pencil mx-1"></i>
						</a>
						<a href="/excluir/responsavel/{$value.idresponsible}" onclick="return confirm('Deseja realmente excluir este cadastro? Nenhum militante será afetado.')" data-toggle="tooltip"
							data-placement="left" title="Excluir">
						<i class="fa fa-times mx-1"></i>
						</a>
					</td>
				</tr>
				{/loop}
			</tbody>
			<!-- ./Table Body -->
		</table>
		<!-- ./Table -->
	</div>
</div>
<!-- ./Panel -->
{else}
<div class="space-50"></div>
<div class="container">
	<div class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-triangle"></i> <strong>Ah não!</strong> Não existem cadastros de responsáveis em nossos registros. <a href="/adicionar/responsavel" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Clique para cadastrar um responsável"><i class="fa fa-plus-square"></i> Cadastrar</a>
	</div>
</div>
{/if}
<div class="space-50"></div>