<!-- Header -->
<header class="bg-homepage text-white">
        <div class="container black-letter">
            <h1>Gerenciar Usuários</h1>
            <p class="lead">Crie, edite e delete usuários da CVA Climatização.</p>
        </div>
        {if="$_SESSION['User']['acessoTotal'] === '1'"}
        <div class="container">
            <a class="btn btn-primary btn-lg" href="/adicionar/usuario" data-toggle="tooltip" data-placement="right" title="Clique para cadastrar um usuário">
                <i class="fa fa-plus-square"></i> Cadastrar Usuário</a>
        </div>
        {/if}
    </header>
    <!-- ./Header -->
    {if="$usuarios"}
    <!-- Panel -->
    <div class="panel panel-primary filterable">
        <!-- Panel Heading -->
        <div class="panel-heading">
            <h3 class="panel-title">{$total} usuários</h3>
            <div class="pull-right">
                <button class="btn btn-primary btn-xs btn-filter">
                    <i class="fa fa-filter"></i> Filtro</button>
            </div>
        </div>
        <!-- ./Panel Heading -->
        <div class="table-responsive">
            <!-- Table -->
            <table class="table table-striped table-hover table-sm results text-center">
                <!-- Table Head -->
                <thead>
                    <!-- Filter -->
                    <tr class="filters invisible">
                        <th colspan="16">
                            <div class="container-fluid">
                                <input type="text" id="search" class="form-control" placeholder="Digite algo para pesquisar" disabled>
                                <!-- Counter -->
                                <span class="counter pull-right"></span>
                                <!-- ./Counter -->
                            </div>
                        </th>
                    </tr>
                    <!-- ./Filter -->
                    <tr>
                        {if="$_SESSION['User']['acessoTotal'] === '1'"}<th>#</th>{/if}
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>Acesso</th>
                    </tr>
                    <!-- No Results -->
                    <tr class="warning no-result text-center">
                        <td colspan="21">
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-warning"></i> Sua pesquisa não confere com nenhum dado.
                            </div>
                        </td>
                    </tr>
                    <!-- ./No Results -->
                </thead>
                <!-- ./Table Head -->
                <!-- Table Body -->
                <tbody>
                    {loop="$usuarios"}
                    <tr>
                        {if="$_SESSION['User']['acessoTotal'] === '1'"}
                        <td class="text-left">
                            <a href="/excluir/usuario/{$value.id}" onclick="return confirm('Deseja realmente excluir este usuário?')"
                             data-toggle="tooltip" data-placement="right" title="Excluir">
                                <i class="fa fa-times mx-1"></i>
                            </a>
                            <a href="/editar/usuario/{$value.id}" data-toggle="tooltip" data-placement="right" title="Editar">
                                <i class="fa fa-pencil-alt mx-1"></i>
                            </a>
                        </td>
                        {/if}
                        <td><strong>{$value.nome}</strong></td>
                        <td>{$value.usuario}</td>
                        <td>{if="$value.acessoTotal === '1'"}Total{else}Restrito{/if}</td>
                    </tr>
                    {/loop}
                </tbody>
                <!-- ./Table Body -->
            </table>
            <!-- ./Table -->
        </div>
    </div>
    <!-- ./Panel -->
    {else}
    <div class="space-50"></div>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Ah não!</strong> Não existem cadastros de usuários em nossos registros. <a href="/adicionar/usuario" class="btn btn-danger btn-sm"
             data-toggle="tooltip" data-placement="right" title="Clique para cadastrar um usuário"><i class="fa fa-plus-square"></i>
                Cadastrar</a>
        </div>
    </div>
    {/if}
    <div class="space-50"></div>