<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Visão geral de {$cliente.nomeCliente}</h4>
            <p class="card-category">{$cliente.email}</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">Nome</label>
                  <input type="text" class="form-control" name="nomeCliente" value="{$cliente.nomeCliente}" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Contato</label>
                  <input type="text" class="form-control" name="contatoLocal" value="{$cliente.contatoLocal}" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">CPF</label>
                  <input type="text" class="form-control" name="cpf" value="{$cliente.cpf}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">CNPJ</label>
                  <input type="text" class="form-control" name="cnpj" value="{$cliente.cnpj}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Inscrição Estadual</label>
                  <input type="text" class="form-control" name="inscricaoEstadual" value="{$cliente.inscricaoEstadual}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Telefone</label>
                  <input type="text" class="form-control" name="telefone" value="{$cliente.telefone}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Celular</label>
                  <input type="text" class="form-control" name="celular" value="{$cliente.celular}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">CEP</label>
                  <input type="text" class="form-control" id="cep" name="cep" value="{$cliente.cep}" disabled>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="bmd-label-floating">Endereço</label>
                  <input type="text" class="form-control" id="endereco" name="endereco" value="{$cliente.endereco}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Bairro</label>
                  <input type="text" class="form-control" id="bairro" name="bairro" value="{$cliente.bairro}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Cidade</label>
                  <input type="text" class="form-control" id="cidade" name="cidade" value="{$cliente.cidade}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Estado</label>
                  <input type="text" class="form-control" id="estado" name="estado" value="{$cliente.estado}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">E-mail</label>
                  <input type="text" class="form-control" name="email"  value="{$cliente.email}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Observação</label>
                  <div class="form-group">
                    <textarea class="form-control" rows="3" name="observacao"  value="{$cliente.observacao}" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Tipo</label>
                  <input type="text" class="form-control" name="tipo" value="{$cliente.tipo}" disabled>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:;;">
                  <img class="img" src="https://pikmail.herokuapp.com/{$cliente.email}?size=150" alt="Imagem de perfil do e-mail">
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">Cliente CVA <i class="material-icons">verified_user</i></h6>
                <h4 class="card-title">{$cliente.nomeCliente}</h4>
                <p class="card-description">
                  {$cliente.endereco} - {$cliente.bairro}, {$cliente.cidade}, {$cliente.estado} - {$cliente.cep}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">














              <div class="card">
                  <div class="card-header card-header-primary">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="card-title ">Pagamentos cadastrados no nome de {$cliente.nomeCliente}</h4>
                        <p class="card-category">Foram encontrados <strong>{$total}</strong> resultados</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-center">
                        {if="$recebimentos"}
                        <thead class=" text-primary">
                          <th>
                            Data de Envio
                          </th>
                          <th>
                            Valor do Boleto
                          </th>
                          <th>
                            Data de Vencimento
                          </th>
                          <th>
                            Data de Compensação
                          </th>
                          <th>
                            Estado
                          </th>
                          <th>
                            Nº do Boleto
                          </th>
                          <th>
                            Forma de Pagamento
                          </th>
                          <th>
                            Parcelas
                          </th>
                          <th>
                            Referência
                          </th>
                        </thead>
                        <tbody>
                          {loop="$recebimentos"}
                          <tr>
                            <td>{function="date('d/m/Y', strtotime($value.dataRecebimento))"}</td>
                            <td><strong>R$ {function="number_format($value.valorBoleto, 2, ',', '.')"}</strong></td>
                            <td>
                              {if="$value.dataVencimento != ''"}
                                  {function="date('d/m/Y', strtotime($value.dataVencimento))"}
                              {/if}
                            </td>
                            <td>
                              {if="$value.dataCompensacao != ''"}
                                  {function="date('d/m/Y', strtotime($value.dataCompensacao))"}
                              {/if}
                            </td>
                            <td>
                              {if="$value.dataCompensacao != ''"}
                                  <span style="font-weight: bold; color:green;">Pago</span>
                              {else}
                                  {$d1 = strtotime($value.dataVencimento)}
                                  {$d2 = strtotime(date('Y-m-d'))}
                                  {$dataFinal = ($d2 - $d1) / 86400}
                                  {if="$dataFinal < 0"}
                                      {$dataFinal = $dataFinal * -1}
                                      <span style="font-weight: bold; color:orange;">{$dataFinal} dias restantes</span>
                                  {else}
                                      <span style="font-weight: bold; color: red;">{$dataFinal} dias atrasados</span>
                                  {/if}
                              {/if}
                            </td>
                            <td>{$value.nBoleto}</td>
                            <td>{$value.formaPagamento}</td>
                            <td>{$value.parcelas}</td>
                            <td>{$value.referencia}</td>
                          </tr>
                          {/loop}
                        </tbody>
                        {else}
                        <div class="alert alert-danger" role="alert">
                            <strong>Ah não!</strong> {$cliente.nomeCliente} ainda não realizou negócios com a CVA Climatização. <a href="http://www.cvaclimatizacao.com.br" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Realizar negócios com a CVA Climatização!">Começe por aqui!</a>
                         </div>
                        </div>
                        {/if}
                      </table>
                    </div>
                  </div>
                </div>














          </div>
        </div>
      </div>
    </div>
  </div>
</div>