<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Adicionar Protocolo</h4>
            <p class="card-category">Cadastre um protocolo para a CVA Climatização</p>
          </div>
          <div class="card-body">
            <form action="/adicionar/protocolo" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Cliente</label>
                    <select type="text" class="form-control" name="cliente">
                      {loop="$clientes"}
                      <option value="{$value.id}">{$value.nomeCliente}</option>
                      {/loop}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Serviço</label>
                    <select type="text" class="form-control" name="servico">
                      {loop="$servicos"}
                      <option value="{$value.id}">{$value.titulo}</option>
                      {/loop}
                    </select>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label role="button" class="btn btn-primary" for="opload-os">Enviar OS</label>
                    <input type="file" class="form-control-file" id="opload-os" name="upload-os">
                  </div>
                </div>
              </div> -->
              <button type="submit" class="btn btn-primary pull-right">Adicionar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>