<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Clientes</h4>
                <p class="card-category">Foram encontrados <strong>{$total}</strong> resultados</p>
              </div>
              <div class="col-md-4 text-right">
                <a href="/admin/adicionar/cliente" class="btn btn-primary btn-lg">Adicionar Cliente</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                {if="$clientes"}
                <thead class="text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    Nome
                  </th>
                  <th>
                    Contato
                  </th>
                  <th>
                    CPF
                  </th>
                  <th>
                    CNPJ
                  </th>
                  <th>
                    Ins Estadual
                  </th>
                  <th>
                    Telefone
                  </th>
                  <th>
                    Celular
                  </th>
                  <th>
                    CEP
                  </th>
                  <th>
                    Endereço
                  </th>
                  <th>
                    Bairro
                  </th>
                  <th>
                    Cidade
                  </th>
                  <th>
                    Estado
                  </th>
                  <th>
                    E-mail Principal
                  </th>
                  <th>
                    E-mails Secundários
                  </th>
                  <th>
                    Observação
                  </th>
                  <th>
                    Tipo
                  </th>
                </thead>
                <tbody>
                  {loop="$clientes"}
                  <tr>
                    <td>
                      <form action="/admin/excluir/cliente/{$value.id}" method="post">
                      <input type="hidden" name="_METHOD" value="DELETE"/>
                      <button type="submit" class="btn btn-danger btn-table" onclick="return confirm('Deseja realmente excluir este cliente?')" data-toggle="tooltip"
                        data-placement="right" title="Excluir">
                        <i class="material-icons">close</i>
                      </button>
                      </form>
                      <a href="/admin/editar/cliente/{$value.id}" class="btn btn-success btn-table" data-toggle="tooltip" data-placement="right" title="Editar">
                        <i class="material-icons">edit</i>
                      </a>
                      <a  href="javascript:;;" class="btn btn-info btn-table" data-toggle="tooltip" data-placement="right" title="Última vez alterado por {$value.alteradoPor} em {function="date('d/m/Y', strtotime($value.alteradoEm))"} às {function="date('H:i', strtotime($value.alteradoEm))"}">
                        <i class="material-icons">history</i>
                      </a>
                    </td>
                    <td>
                      <a href="/admin/visualizar/cliente/{$value.id}">{$value.nomeCliente}
                      <button type="button" class="btn btn-primary btn-table" data-toggle="tooltip" data-placement="right" title="Visualizar cliente">
                        <i class="material-icons">share</i>
                      </button>
                      </a>
                      <button type="button" href="javascript:;;" class="btn btn-primary btn-table" data-toggle="tooltip" data-placement="right" title="{$value.usuario} {$value.senha}">
                        <i class="material-icons">lock</i>
                      </button>
                    </td>
                    <td>{$value.contatoLocal}</td>
                    <td>{$value.cpf}</td>
                    <td>{$value.cnpj}</td>
                    <td>{$value.inscricaoEstadual}</td>
                    <td>{$value.telefone}</td>
                    <td>{$value.celular}</td>
                    <td>{$value.cep}</td>
                    <td>{$value.endereco}</td>
                    <td>{$value.bairro}</td>
                    <td>{$value.cidade}</td>
                    <td>{$value.estado}</td>
                    <td>{$value.email}</td>
                    <td>{$value.emails}</td>
                    <td>{$value.observacao}</td>
                    <td>{$value.tipo}</td>
                  </tr>
                  {/loop}
                </tbody>
                {else}
                <div class="alert alert-danger" role="alert">
                  <strong>Ah não!</strong> Não existem clientes em nossos registros.
                  <a href="/admin/adicionar/cliente" class="btn btn-danger">Cadastrar um cliente</a>
                </div>
                {/if}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>